html, body {
  margin:20px;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  color:#222222;
  width: 95%;
  max-width: 720px;

  margin-left: auto;
  margin-right: auto;

}

.SBSBimgs {
  border: 4px solid #cccccc;
  margin: 20px 20px 20px 100px;
  text-align: center;
  float: center;
  margin: auto;
  margin-left: auto; 
  margin-right: auto;
  z-index: 1;
  width: 320px;
  hspace: 20px;
}


/*  This sets the div-box for the .BLimgs (images) to go in.  It changes size if the windows shrinks (=on a mobile phone) - see far below for that code.  */
.SBSBimgsdiv {
 width: 360px;
 position: relative; 
 display:inline-block;
}

.SBSBimgsdiv hr {
  width: 80%;
}


h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.0em;
}

h2 {
  font-size: 2.0em;
  margin: 15px;
 }

h3 {
  font-size: 1.2em;
  margin: 15px;
 }

li {
  left: 15px;
}

.content {
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
   margin-right: 10px;
  /* was margin-left: 70px; */
  left: 15px;
  right: 15px;
  position: static;
  top: 12px;
  text-align: left;
  align: left;
  margin-top: 0px;
  z-index: 1;
}


.tablecaption {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  font-style: italic;
  color:#555555;
  text-align: center;
  float: center;
  width: 80%;
  margin: auto;
  margin-bottom: 8px;
  margin-left: auto; 
  margin-right: auto;
  z-index: 1;
}


